h1 {
    color: #d4d4d4;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

/*h2 {*/
    /*color: #d4d4d4;*/
    /*font-size: xx-small;*/
    /*bottom: auto;*/
    /*text-align: right;*/
/*}*/
/*body, td, a, div, .p {*/
    /*font-family: arial, sans-serif*/
/*}*/